# macOS files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*~

# Temporary files
*.swp
*.swo

# Python
__pycache__

# Rust
target

# Node.js
node_modules

# Python